html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.mainText-box{
    text-align: right;
    vertical-align:top;
    height: 100%;
    width: 100%;
}

.mainText-box > article{ 
    display: inline-block;
    font-size:9.5pt;
    font-family: 'Noto Serif JP', serif;
    /*text-indent:9.3pt;
    letter-spacing: .08;*/
    line-height: 1.4;
    word-break: keep-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    writing-mode:vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl; 
    text-orientation: mixed;
    -webkit-text-orientation:mixed;
}

.mainText-box > article p {
    text-align: justify;
    text-justify: inter-ideograph;
}